{% load static %}
<div class="container mt-5">
    <footer class="row">
      <!-- Left Side: Logo and Paragraph -->
      <div class="col-md-3 col-sm-6  ">
        <img src="{% static 'djangogirlstz/images/djnew.png' %}" class="img-fluid" alt="Logo" style="width: 150px; margin-bottom: 10px;">
        <p style="background-color: white; border-radius: 5px; color: #333; font-size: 14px;">
          Django Girls Tanzania is a community that empowers women by organizing free, one-day programming workshops. We provide tools, resources, and support to help women enter the world of technology with confidence.
        </p>
      </div>
  
      
          <!-- First Column -->
          <div class="col-md-3">
            <ul class="list-unstyled">
              <h5 style="color: #F79420; font-size: 18px;">COMMUNITY</h5>
              <li style="color: #555; font-size: 16px;">
                <a href="{% url 'events' %}" style="color: #555; text-decoration: none;">EVENTS</a>
              </li>
              <li style="color: #555; font-size: 16px;">
                <a href="#" style="color: #555; text-decoration: none;">LOCAL CHAPTERS</a>
              </li>
              <li style="color: #555; font-size: 16px;">
                <a href="{% url 'code_of_conduct' %}" style="color: #555; text-decoration: none;">CODE OF CONDUCT</a>
              </li>
              <li style="color: #555; font-size: 16px;">
                <a href="#" style="color: #555; text-decoration: none;">COMMUNITY GUIDELINES</a>
              </li>
              <li style="color: #555; font-size: 16px;">
                <a href="{% url 'about' %}" style="color: #555; text-decoration: none;">ABOUT</a>
              </li>
            </ul>
          </div>
  
          <!-- Second Column -->
          <div class="col-md-3 col-sm-12 col-12 ">
            <ul class="list-unstyled">
              <h5 style="color: #F79420; font-size: 18px;">RESOURCES</h5>
              <li style="color: #555; font-size: 16px;">
                <a href="https://tutorial.djangogirls.org/en/" style="color: #555; text-decoration: none;">TUTORIALS</a>
              </li>
              <li style="color: #555; font-size: 16px;">
                <a href="https://organize.djangogirls.org/" style="color: #555; text-decoration: none;">ORGANIZER'S MANUAL</a>
              </li>
              <li style="color: #555; font-size: 16px;">
                <a href="https://tutorial-extensions.djangogirls.org/en/" style="color: #555; text-decoration: none;">TUTORIAL EXTENSIONS</a>
              </li>
              <li style="color: #555; font-size: 16px;">
                <a href="https://coach.djangogirls.org/" style="color: #555; text-decoration: none;">COACHING GUIDE</a>
              </li>
              <li style="color: #555; font-size: 16px;">
                <a href="#" style="color: #555; text-decoration: none;">GRAPHICS</a>
              </li>
            </ul>
          </div>
  
          <!-- Third Column -->
          <div class="col-md-3 col-sm-12 col-12 ">
            <h5 style="color: #F79420; font-size: 18px;">NEWSLETTER</h5>
            <p style="color: #555; font-size: 16px;">Sign Up For Our Newsletter To Get The Latest News In Your inbox</p>
            <form method="post" action="{% url 'subscribe' %}">
              {% csrf_token %}
              <div class="input-group mb-3">
                  <input type="email" name="email" class="form-control" placeholder="Enter your email" aria-label="Recipient's email" required>
                  <button class="btn" type="submit" style="background-color: #F79420;">Subscribe</button>
              </div>
            </form>
            
            {% if messages %}
              <div class="mt-3">
                {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
              </div>
            {% endif %}
            
            <p style="font-size: 12px; color: #666;">Your email is safe with us. We Don't Spam</p>
          </div>
     
    </footer>
</div>

<div class="container">
  <footer class="bg-white text-black text-center p-3 pb-0 mt-4" style="color: #555; border-top: 1px solid #ccc;">
    <div class="row d-flex justify-content-between align-items-center">
      <div class="col-12 col-md-4  text-muted">
        <p class="mb-0">Made by the Djangogirls Community</p>
      </div>
      <div class="col-12 col-md-4  text-muted">
        <p class="mb-0">© 2025 All rights reserved.</p>
      </div>
      <div class="col-12 col-md-4 ">
        <a href="https://www.instagram.com/djangogirlstz/" class="icon mx-2" aria-label="Instagram">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://x.com/djangogirlstz" class="icon mx-2" aria-label="Twitter">
          <i class="fab fa-x-twitter"></i>
        </a>
        <a href="https://www.linkedin.com/company/djangogirlstz" class="icon mx-2" aria-label="LinkedIn">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/pythontanzania/djangogirlstz" class="icon mx-2" aria-label="Github">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </div>
  </footer>
<!-- jQuery and Counting Script -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Function to animate the number counting
        function animateCounter(target, start, end, duration) {
            $({ count: start }).animate({ count: end }, {
                duration: duration,
                step: function () {
                    $(target).text(Math.ceil(this.count)); // Update the text with the current count
                },
                complete: function() {
                    // Append the "+" sign after the counting is done
                    $(target).text($(target).text() + " +");
                }
            });
        }

        // Trigger the animation
        animateCounter('#counter-communities', 0, 5, 2000); // Count from 0 to 5 in 2 seconds
        animateCounter('#counter-chapter-leads', 0, 15, 2000); // Count from 0 to 15 in 2 seconds
        animateCounter('#counter-django-girls', 0, 100, 2000); // Count from 0 to 100 in 2 seconds
    });
</script>

<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    const teamSwiper = new Swiper('.team-swiper', {
        slidesPerView: 1,
        spaceBetween: 30,
        centeredSlides: true,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        loop: true,
        effect: 'coverflow',
        coverflowEffect: {
            rotate: 30,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: true,
        },
        breakpoints: {
            640: {
                slidesPerView: 1,
                spaceBetween: 20,
                effect: 'slide',
            },
            768: {
                slidesPerView: 2,
                spaceBetween: 30,
            },
            1024: {
                slidesPerView: 3,
                spaceBetween: 40,
            },
        },
    });
</script>
<script>
  const communitySwiper = new Swiper('.community-swiper', {
      slidesPerView: 2, 
      spaceBetween: 10, 
      freeMode: true, 
      pagination: {
          el: '.swiper-pagination',
          clickable: true,
      },
      navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
      },
      loop: true, 
      breakpoints: {
          640: {
              slidesPerView: 1, 
          },
          1024: {
              slidesPerView: 2, 
          },
      },
  });
</script>

