{% load static %}
<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img
        src="{% static 'djangogirlstz/images/djnew.png' %}"
        class="img-fluid"
        alt="Logo"
        width="150"
        height="40.8" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'community' %}">Community</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'events' %}">Workshops</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'resources' %}">Resources</a>
        </li>
        {% comment %} <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About</a>
        </li> {% endcomment %}
          <a class="nav-link" href="{% url 'code_of_conduct' %}">Code of Conduct</a>
      </ul>
    </div>
    <div class="d-flex">
      <a
        href="{% url 'register' %}"
        class="btn"
        style="background-color: #f79420; color: white"
        >Join Community</a
      >
    </div>
  </div>
</nav>
