{% extends "_base.html" %}
{% load compress %}
{% load static %}
{% block content %}
<div class="community-page">

    <div class="container-fluid p-0"> 
        <div class="background-overlay d-flex flex-column justify-content-center align-items-center">
            <div class="text-center">
                <h1 class="display-3 custom-heading" style="color: #F79420;">COMMUNITY</h1>
                <p class="community-paragraph">Join the Django Girls Tanzania community and Make a Difference.</p>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="custom-card p-3">
                    <div class="icon">
                        <img src="{% static 'djangogirlstz/images/Diversity.png' %}" alt="Diverse Perspectives" class="icon-img"> 
                    </div>
                    <h5 class="card-title mt-5">Diverse Perspectives</h5>
                    <p class="card-text">Our community brings together individuals from various backgrounds, professions, and interests. By joining us, you'll have the opportunity to engage
                        with a diverse range of perspectives, ideas, and experiences, enriching your own understanding of the world.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="custom-card p-3">
                    <div class="icon">
                        <img src="{% static 'djangogirlstz/images/Omnichannel.png' %}" alt="Diverse Perspectives" class="icon-img"> 
                    </div>
                    <h5 class="card-title mt-5">Networking Opportunities</h5>
                    <p class="card-text">Joining our community opens doors to valuable networking opportunities. Whether you're looking to connect with professionals in your field, seeking
                        mentorship, or simply want to expand your social circle, our community provides a platform for meaningful connections and collaborations.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="custom-card p-3">
                    <div class="icon">
                        <img src="{% static 'djangogirlstz/images/Learning.png' %}" alt="Diverse Perspectives" class="icon-img"> 
                    </div>
                    <h5 class="card-title mt-5">Learning and Growth</h5>
                    <p class="card-text">Our community is a hub for continuous learning and personal growth. Through workshops, seminars, discussions, and other educational initiatives, you'll 
                    have access to resources and support to enhance your skills, broaden your knowledge, and achieve your personal goals.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container bg-body-secondary mt-5">
        <div class="row g-0 align-items-center">
            <!-- Left Card -->
            <div class="col-md-5 left-card">
                <div class="info_card ">
                    <h2>Discover Django Girls: A Visual Journey</h2>
                    <p>
                        Our community brings together individuals from various backgrounds, professions, and interests. By joining us,
                        you'll have the opportunity to engage with a diverse range of perspectives, ideas, and experiences, enriching
                        your own understanding of the world.
                    </p>
                    <p class="slide-through">Slide through ➔</p>
                </div>
            </div>
    
           
            <div class="col-md-7 p-0">
                <div class="swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide"><img src="{% static 'djangogirlstz/images/pic1.webp' %}" alt="Slide 1"></div>
                        <div class="swiper-slide"><img src="{% static 'djangogirlstz/images/pic2.webp' %}" alt="Slide 2"></div>
                        <div class="swiper-slide"><img src="{% static 'djangogirlstz/images/pic3.webp' %}" alt="Slide 3"></div>
                    </div>
                    <!-- pagination -->
                    <div class="swiper-pagination"></div>
    
                    <!-- navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
    </div>
    
    




{% endblock %}
