{% load compress %} 
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django Girls Tanzania</title>
    
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />

    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/resources.css' %}" />
    {% endcompress %}
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
</head>
<body>
    <!--
    <header>
        <div class="header-content">
            <h1 class="community-heading">COMMUNITY</h1>
            <p class="community-paragraph">Your journey to learning and growth starts here!</p>
        </div>
    </header>
    -->
    
    <div class="container-fluid p-0"> 
        <!--<div class="custom-card text-bg-dark bg-success p-2 text-dark bg-opacity-10">
            <img src="{% static 'djangogirlstz/images/Rectangle 43(1).webp' %}" class="img-fluid" alt="">
            <div class="overlay"></div> -->
            <div class="background-overlay d-flex flex-column justify-content-center align-items-center">
                <div class="text-center">
                    <h1 class="display-5 mt-5" style="color: #F79420; font-weight: 500;">RESOURCES</h1>
                    <p class="community-paragraph ">Join the  Django Girls Tanzania community  and Make a Difference.</p>
                </div>
            </div>
        </div>
    </div>


<style>
         
         
    .background-overlay {
        background-image: 
            linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
            url("{% static 'djangogirlstz/images/Rectangle 43(1).webp' %}");
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;    
    }

 @media(max-width: 768px){
    .background-overlay{
        height: 20vh;
        padding: 15px;
    }
 }   
</style>
    
        
    

    
    <div class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{% static 'djangogirlstz/images/logoxbg.png' %}" class="img-fluid" alt="Logo" width="150" height="40.8">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">  <!-- Use mx-auto here -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'community' %}">Community</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'events' %}">Workshops</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'resources' %}">Resources</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <a href="{% url 'register' %}" class="btn" style="background-color: #F79420; color: white;">Join Community</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body my-5 d-flex flex-column justify-content-center align-items-center text-center" >
        <h1 class="display-6" style="color: #F79420;">Explore Resources</h1>
        <p class="card-text">All the resources we've created are open sourced and managed by the community</p>
    </div>

    <div class="container">
        <div class="row row-cols-1 row-cols-md-4 g-3">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="card">
                <img src="{% static 'djangogirlstz/images/Rectangle 56.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Django Tutorial</h5>
                  <p class="card-text">The tutorial we're using for all of 
                    our workshops. It's a very beginner-friendly tutorial...</p>
                  <a href="#" class="btn read-btn">Read It</a> 
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="card">
                <img src="{% static 'djangogirlstz/images/Rectangle 56.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Organizer's Manual</h5>
                  <p class="card-text">We have written down everything
                    we know about organizing workshops like Django Girls...</p>
                  <a href="#" class="btn read-btn">Read It</a> 
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="card">
                <img src="{% static 'djangogirlstz/images/Rectangle 56.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Coaching Manual</h5>
                  <p class="card-text">A good coaching approach is the
                    most important part of Django Girls events...</p>
                  <a href="#" class="btn read-btn">Read It</a> 
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="card">
                <img src="{% static 'djangogirlstz/images/Rectangle 56.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Tutorial Extension</h5>
                  <p class="card-text">This book contains additional tasks and tutorials...</p>
                  <a href="#" class="btn read-btn">Read It</a>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <footer class="row">
            <!-- Left Side: Logo and Paragraph -->
            <div class="col-md-4">
                <img src="{% static 'djangogirlstz/images/image 1.jpg' %}" class="img-fluid" alt="Logo" style="width: 150px; margin-bottom: 10px;">
                <p style="background-color: white; padding: 10px; border-radius: 5px;">
                    Django Girls Tanzania is a non-profit <br>organization and community that <br>empowers women by organizing free, <br>one-day programming workshops. We<br> provide tools, resources, and support to help women enter the world of<br> technology with confidence.
                </p>
            </div>
    
            <!-- Right Side: Columns -->
            <div class="col-md-8">
                <div class="row">
                    <!-- First Column -->
                    <div class="col-md-4">
                        <ul class="list-unstyled">
                            <h5 style="color: #F79420;">COMMUNITY</h5>
                            <li>EVENTS</li>
                            <li>LOCAL CHAPTERS</li>
                            <li>CODE OF CONDUCT</li>
                            <li>COMMUNITY GUIDELINES</li>
                        </ul>
                    </div>
    
                    <!-- Second Column -->
                    <div class="col-md-4">
                        <ul class="list-unstyled">
                            <h5 style="color: #F79420;">RESOURCES</h5>
                            <li>TUTORIALS</li>
                            <li>ORGANIZER'S MANUAL</li>
                            <li>TUTORIAL EXTENSIONS</li>
                            <li>COACHING GUIDE</li>
                            <li>GRAPHICS</li>
                        </ul>
                    </div>
    
                    <!-- Third Column -->
                    <div class="col-md-4">
                        <h5 style="color: #F79420;">NEWSLETTER</h5>
                        <p>Sign Up For Our Newsletter To Get The Latest News In Your inbox</p>
                        <form>
                            <div class="input-group mb-3">
                                <input type="email" class="form-control" placeholder="Enter your email" aria-label="Recipient's email">
                                <button class="btn" type="submit" style=" background-color: #F79420;" >Subscribe</button>
                            </div>
                        </form>
                        <p style="font-size: small;">Your email is safe with us. We Don't Spam</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    
    <footer class="bg-white text-black text-center p-3 mt-4" style="border-top: 1px solid #ccc;">
        <div class="d-flex justify-content-between align-items-center">
            <div style="flex: 1; text-align: left;">
                <p style="margin: 0;">Made by Django Girls Community</p>
            </div>
            <div style="flex: 1; text-align: center;">
                <p>© 2024 Django Girls Community. All rights reserved.</p>
            </div>
            <div style="flex: 1; text-align: right;">
                <a href="https://www.instagram.com" target="_blank">
                    <img src="{% static 'djangogirlstz/images/Instagram.png' %}" alt="Instagram" style="width: 30px; height: 30px;">
                </a>
                <a href="https://www.twitter.com" target="_blank">
                    <img src="{% static 'djangogirlstz/images/TwitterX.png' %}" alt="Twitter" style="width: 30px; height: 30px;">
                </a>
                <a href="https://www.linkedin.com" target="_blank">
                    <img src="{% static 'djangogirlstz/images/LinkedIn.png' %}" alt="LinkedIn" style="width: 30px; height: 30px;">
                </a>
                <a href="https://www.facebook.com" target="_blank">
                    <img src="{% static 'djangogirlstz/images/Facebook.png' %}" alt="Facebook" style="width: 30px; height: 30px;">
                </a>
            </div>
        </div>
    </footer>
        


      
      
      

 

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
