{% extends '_base.html' %}

{% load compress %} 
{% load static %}

{% block content %}
<div class="resources-page">
    
    <div class="container-fluid p-0"> 
            <div class="background-overlay d-flex flex-column justify-content-center align-items-center">
                <div class="text-center">
                    <h1 class="display-1 custom-heading mt-5" style="color: #F79420; ;">RESOURCES</h1>
                    <p class=" community-paragraph">Join the  Django Girls Tanzania community  and Make a Difference.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="card-body my-5 d-flex flex-column justify-content-center align-items-center text-center" >
        <h1 class="display-6" style="color: #F79420;">Explore Resources</h1>
        <p class="card-text">All the resources we've created are open sourced and managed by the community</p>
    </div>

    <div class="container">
        <div class="card-group">
            <div class="card" style="margin: 10px;">
                <img src="{% static 'djangogirlstz/images/tutorials.jpg' %}" class="img-fluid card-img-top" alt="tutorials">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title" style="text-decoration: underline;">Django Tutorial</h5>
                    <p class="card-text">The tutorial we're using for all of our workshops. It's a very beginner-friendly tutorial with introductions to the command line, python,Django,HTML and CSS.It's also supportive community resources.</p>
                    <a href="https://tutorial.djangogirls.org/en/" class="btn read-btn d-flex align-items-center justify-content-center" style="width: 100%;">Read It</a>
                </div>
            </div>
        
            <div class="card" style="margin: 10px;">
                <img src="{% static 'djangogirlstz/images/organizer.jpg' %}" class="img-fluid card-img-top" alt="organizer">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title" style="text-decoration: underline;">Organizer's Manual</h5>
                    <p class="card-text">We have written down everything we know about organizing workshops like Django Girls. It's a hand book for organizers local events, but can be used to organize any kind of workshop.</p>
                    <a href="#" class="btn read-btn d-flex align-items-center justify-content-center" style="width: 100%;">Read It</a>
                </div>
            </div>
        
            <div class="card" style="margin: 10px;">
                <img src="{% static 'djangogirlstz/images/coaching.webp' %}" class="img-fluid card-img-top" alt="Rectangle 6">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title" style="text-decoration: underline;">Coaching</h5>
                    <p class="card-text">A good coaching approach is the most important part of Django Girls events.What the rules are and what we believe in.This can be used for coaching any event not only Django Girls Workshops</p>
                    <a href="#" class="btn read-btn d-flex align-items-center justify-content-center" style="width: 100%;">Read It</a>
                </div>
            </div>
        
            <div class="card" style="margin: 10px;">
                <img src="{% static 'djangogirlstz/images/extension.jpg' %}" class="img-fluid card-img-top" alt="Rectangle 6">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title" style="text-decoration: underline;">Tutorial Extension</h5>
                    <p class="card-text">This book contains additional tasks and tutorials.Our main tutorial fits into one day of work and we want it to stay this way. The extension offers deeper insights and practical exercises.</p>
                    <a href="#" class="btn read-btn d-flex align-items-center justify-content-center" style="width: 100%;">Read It</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}