{% extends '_base.html' %}
{% block title %}DjangoGirls Tanzania Resources - Free Tutorials and Guides for Women in Tech{% endblock %}
{% load compress %}
{% load static %}

{% block content %}
<div class="resources-page">

    <!-- Hero Section -->
    <div class="container-fluid p-0">
        <div class="background-overlay d-flex flex-column justify-content-center align-items-center">
            <div class="text-center">
                <h1 class="display-1 custom-heading mt-5 " style="color: #f79420;">RESOURCES</h1>
                <p class="community-paragraph">Join the Django Girls Tanzania community and Make a Difference.</p>
            </div>
        </div>
    </div>

    <!-- Intro Section -->
    <div class="card-body my-5 text-center">
        <h1 class="display-6 " style="color: #f79420;" >Explore Resources</h1>
        <p class="card-text">All the resources we've created are open-sourced and managed by the community.</p>
    </div>

    <!-- Resources Section -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="card mb-4">
                    <img src="{% static 'djangogirlstz/images/tutorials.webp' %}" class="img-fluid card-img-top" alt="Django Tutorial">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title text-decoration-underline">Django Tutorial</h5>
                        <p class="card-text">The tutorial we use for all workshops. Beginner-friendly with intros to command line, Python, Django, HTML, and CSS. Includes community resources.</p>
                        <a href="https://tutorial.djangogirls.org/en/" class="btn read-btn mt-auto">Read It</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card mb-4">
                    <img src="{% static 'djangogirlstz/images/organizer.webp' %}" class="img-fluid card-img-top" alt="Organizer's Manual">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title text-decoration-underline">Organizer's Manual</h5>
                        <p class="card-text">A handbook for organizing workshops like Django Girls. It can also help plan any kind of event.</p>
                        <a href="https://organize.djangogirls.org/" class="btn read-btn mt-auto">Read It</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card mb-4">
                    <img src="{% static 'djangogirlstz/images/coaching.webp' %}" class="img-fluid card-img-top" alt="Coaching">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title text-decoration-underline">Coaching</h5>
                        <p class="card-text">Learn effective coaching for Django Girls events or any other workshops.</p>
                        <a href="https://coach.djangogirls.org/" class="btn read-btn mt-auto">Read It</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card mb-4">
                    <img src="{% static 'djangogirlstz/images/extension.webp' %}" class="img-fluid card-img-top" alt="Tutorial Extension">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title text-decoration-underline">Tutorial Extension</h5>
                        <p class="card-text">Additional tasks and exercises for deeper insights beyond the one-day tutorial.</p>
                        <a href="https://tutorial-extensions.djangogirls.org/en/" class="btn read-btn mt-auto">Read It</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}
